<% 
console.log(opt)
if (Array.isArray(opt.products) && opt.products.length) {
    %>

    <section id="<%- opt.section_id ? opt.section_id : '' %>" class="listaProdutoB py-5">
        <div class="container py-5">
          <div class="row mb-5 pb-4  justify-content-center">
            <div class="col-12 col-md-8">
              <h3 class="a_title medel a_h3 text-center">
                <%- opt.title %>
              </h3>
              <small class="a_sub font-light text-center d-block">
                <%- opt.description %>
              </small>
            </div>
          </div>
          <div class="row">
            
            <% for (let i = 0; i < opt.products.length; i++) { %>
              <%- await include('@/sections/inc/alpix_product-item', {
                _, opt: { item: opt.products[i] }
              }) %>
            <% } %>
            
          </div>
        </div>
    </section>  
  <% } %>
  